<body>
<div class="container" >
    <div class="box" *ngFor="let plato of recipes">
        <div class=imgBox>
            <img src="{{plato.image}}" alt="{{plato.name}}">
        </div>
        <div class="details">
            <div class="content">
                <h2>{{plato.name}}</h2>
                <p>{{plato.description}}</p><br>
                <button type="submit" class="btn btn-warning btn-block " >
                    Receta!
                </button>
            </div>          
        </div>
    </div>
</div>
</body>
























<!--<div class="container">
    <div class="table">
        <thead>
            <tr>
                <th scope="col">Imagen</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Receta</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let plato of data.recipes">
                <td><img src="{{plato.image}}" alt="" width="20%"></td>
                <td>{{plato.name}}</td>
                <td>{{plato.description}}</td>
                <td><button>Ver</button>
                </td>
            </tr>

        </tbody>
    </div>
</div>
-->
